name: Build and Deploy Frontend

on:
  push:
    branches: [ main, master, develop ]
    paths:
      - '**'
      - '!README.md'
      - '!.github/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: ershovone/commit-tms-fe:latest

      - name: Install kubectl
        uses: azure/setup-kubectl@v3

      - name: Configure kubectl
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > kubeconfig
          chmod 600 kubeconfig
          
      - name: Deploy to Kubernetes
        run: |
          export KUBECONFIG="${GITHUB_WORKSPACE}/kubeconfig"
          kubectl rollout restart deployment commit-tms-fe -n commit-tms-be
          
      - name: Cleanup
        run: |
          if [ -f kubeconfig ]; then
          rm kubeconfig
          fi
        if: always()
